* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/fondo.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.nav-2.active li {
    animation: slideInFromRight 0.6s forwards;
}

.nav-2.closing li {
    animation: slideOutToLeft 0.6s forwards;
}

.nav-2.active li:nth-child(1) { animation-delay: 0.1s; }
.nav-2.active li:nth-child(2) { animation-delay: 0.2s; }
.nav-2.active li:nth-child(3) { animation-delay: 0.3s; }
.nav-2.active li:nth-child(4) { animation-delay: 0.4s; }
.nav-2.active li:nth-child(5) { animation-delay: 0.5s; }
.nav-2.active li:nth-child(6) { animation-delay: 0.6s; }

/* *Overlay* */

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        /* Inicia fuera de la pantalla */
        opacity: 0;
        /* Opcional: Hace que el overlay aparezca gradualmente */
    }

    100% {
        transform: translateY(0);
        /* Llega a su posición original */
        opacity: 1;
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Fondo semi-transparente */
    z-index: 10;
    transform: translateY(-100%);
    /* Comienza fuera de la pantalla, arriba */
    transition: transform 0.5s ease-out;
    /* Transición suave */
    display: none;
    /* Inicialmente oculto */
}

#overlay.active {
    display: block;
    /* Mostrar overlay cuando esté activo */
    transform: translateY(0);
    /* Mover overlay a la posición original */
}

#overlay.closing {
    transform: translateY(-100%);
    /* Mover overlay hacia arriba al cerrar */
}

/* Header */

header {
    height: 10rem;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    transition: top 0.6s ease-in-out; 
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
    box-shadow: 0 0 8px #000000b3;
}

a {
    font-family: sans-serif;
    font-size: 19px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 20px;
    color: #ffffff;
    transition: text-shadow 0.3s ease, background-color 0.3s ease; /* Combinar transiciones */
}

a:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    max-height: 200px;
    aspect-ratio: 1/1;
    box-shadow: 0 0 10px #000;
    border-radius: 100px;
    margin-left: 10px;
    background-color: #0003;
    z-index: 3;
    transition: ease-in-out .3s;
    cursor: pointer;
}

#kennedy-logo {
    height: 100%;
    transition: transform 0.3s ease-in-out;
}


#kennedy-logo:hover {
    transform: scale(1.2);
}

.logo-section:hover {
    background-color: #0009;
}

.icon {
    width: 26px;
    padding: 2px;
    border-radius: 5px;
    -webkit-user-select: none;
    user-select: none;
    filter: invert(100%);
}

.add {
    width: 10vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 0 8px #000000b3;
    position: relative;
    z-index: 1;
    overflow: hidden;
    gap: 10px;
}

.add::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #222e55;
    z-index: -1;
    transition: width 0.4s ease;
    border-radius: 16px;
}

.add:hover::before {
    width: 100%;
    border-radius: 16px;
}

/* *Menu* */

.menu {
    display: flex;
    align-items: center;
    margin: 0 3rem 0 0;
}

.burger {
    display: none;
    position: relative;
    width: 45px;
    height: 33px;
    background: transparent;
    cursor: pointer;
    margin-left: 187px;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

/* Main */

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-family: "Poppins", Sans-serif;
    opacity: 0; 
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.5s; 
    margin-top: 14%;
}

.data, .lugar {
    opacity: 0; 
    transform: translateY(20px); 
    animation: fadeInUp 1s ease-out forwards;
}

.data {
    animation-delay: 0s; 
}

.lugar {
    animation-delay: 0.5s; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(490px, 1fr));
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-family: "Poppins", Sans-serif;

    & .data {
        background: radial-gradient(at right top, #455897, #1d2749);
        max-width: 400px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px #000000b3;

        & .boton {
            display: flex;
            justify-content: space-evenly;
            justify-content: center;
            flex-wrap: wrap;
            gap: 9px;
        }

        & h3 {
            color: white;
            font-weight: 800;
            word-wrap: break-word;

            & span {
                font-weight: 300;
            }
        }

        & .btn {
            display: flex;
            align-items: center;
            margin-top: 15px;
            gap: 8px;
            background-color: rgba(49, 42, 42, 0.527);
            border-radius: 5px;
            text-decoration: none;
            padding: 7px;
            font-weight: 700;
            color: white;
        }

        & .mail {
            text-decoration: none;
            color: inherit;
        }
    }

    & .lugar {
        background: radial-gradient(at right top, #455897, #1d2749);
        padding: 10px;
        border-radius: 5px;
        transition: all .3s ease;

        & .iframe {
            max-width: 100%;
        }
    }

    & .lugar:hover {
        transform: translateY(-10px);
    }
}

/* Footer */

.ft {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    background: radial-gradient(at right top, #455897, #1d2749);
    margin-top: 20px;

    .cluster {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        margin: 15px 0;
    }

    .negri {
        font-weight: bold;
    }
}

/* Responsive */

@media screen and (max-width: 768px) {
   .nav-2 {
            display: none;
        }
        
        .nav-2 li {
            opacity: 0;
        }
    
    

    main {
        margin-top: 20px;
        gap: 20px;

    }

    .nav-2.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        gap: 1.5rem;
        top: 120%;
        left: 0;
        opacity: 1;
    }

    .add {
        width: 38vw;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        padding: 9px 32px;
        cursor: pointer;
        box-shadow: 0 0 8px #ffffffb3;
        position: relative;
        z-index: 1;
        overflow: hidden;
        gap: 10px;
    }

    a{
        font-size: 23px;
    }

    .burger {
        display: block;
    }

    .data{
        width: 300px;
        margin-top: 35%;
    }

    .lugar{
        width: 350px;
    }

    .iframe{
        width: 600px;
    }

    .cluster {
        flex-direction: column;
    }

    .mail {
        text-decoration: none;
        color: inherit;
        font-size: 20px;
    }
}
