* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/fondo.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.nav-2.active li {
    animation: slideInFromRight 0.6s forwards;
}

.nav-2.closing li {
    animation: slideOutToLeft 0.6s forwards;
}

.nav-2.active li:nth-child(1) { animation-delay: 0.1s; }
.nav-2.active li:nth-child(2) { animation-delay: 0.2s; }
.nav-2.active li:nth-child(3) { animation-delay: 0.3s; }
.nav-2.active li:nth-child(4) { animation-delay: 0.4s; }
.nav-2.active li:nth-child(5) { animation-delay: 0.5s; }
.nav-2.active li:nth-child(6) { animation-delay: 0.6s; }

/* *Overlay* */

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        /* Inicia fuera de la pantalla */
        opacity: 0;
        /* Opcional: Hace que el overlay aparezca gradualmente */
    }

    100% {
        transform: translateY(0);
        /* Llega a su posición original */
        opacity: 1;
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Fondo semi-transparente */
    z-index: 10;
    transform: translateY(-100%);
    /* Comienza fuera de la pantalla, arriba */
    transition: transform 0.5s ease-out;
    /* Transición suave */
    display: none;
    /* Inicialmente oculto */
}

#overlay.active {
    display: block;
    /* Mostrar overlay cuando esté activo */
    transform: translateY(0);
    /* Mover overlay a la posición original */
}

#overlay.closing {
    transform: translateY(-100%);
    /* Mover overlay hacia arriba al cerrar */
}

/* Header */

header {
    height: 10rem;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    transition: top 0.6s ease-in-out; 
  
    ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }
  
    li {
        list-style: none;
    }
  
    a {
        font-family: sans-serif;
        font-size: 19px;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 5px;
        border-radius: 20px;
        color: #ffffff;
        transition: .4s ease, text-shadow 0.3s ease;
    }
  
    a:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
  
    /* Sección del logo */
    .logo-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
        max-height: 200px;
        aspect-ratio: 1/1;
        box-shadow: 0 0 10px #000;
        border-radius: 100px;
        margin-left: 10px;
        background-color: #0003;
        z-index: 3;
        transition: background-color ease-in-out 0.3s, transform 0.3s ease-in-out;
        cursor: pointer;
    }
  
    #kennedy-logo {
        height: 100%;
        transition: transform 0.3s ease-in-out;
    }
  
    #kennedy-logo:hover {
        transform: scale(1.2); 
    }
  
    .logo-section:hover {
        background-color: #0009;
    }
  
    .icon {
        width: 26px;
        padding: 2px;
        border-radius: 5px;
        user-select: none;
        filter: invert(100%);
    }
  
    .add {
        width: 10vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        padding: 10px 20px;
        cursor: pointer;
        box-shadow: 0 0 8px #000000b3;
        position: relative;
        z-index: 1;
        overflow: hidden;
        gap: 10px;
    }
  
    .add::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #222e55;
        z-index: -1;
        transition: width 0.4s ease;
        border-radius: 16px;
    }
  
    .add:hover::before {
        width: 100%;
        border-radius: 16px;
    }
  
    #kennedy-logo {
        height: 100%;
        transition: transform 0.3s ease-in-out;
    }
  
    #kennedy-logo:hover {
        transform: scale(1.2); 
    }
  
    .logo-section:hover {
        background-color: #0009;
    }
  }
  
/* *Menu* */

.menu {
    display: flex;
    align-items: center;
    margin: 0 2rem 0 0;
}

.burger {
    display: none;
    position: relative;
    width: 45px;
    height: 33px;
    background: transparent;
    cursor: pointer;
    margin-left: 193px;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

/* Main */

main {
    font-family: "Montserrat";
    color: #222e55;

    #h1 {
        background: rgba(255, 255, 255, 0.692);
        font-weight: 400;
        text-align: center;
        padding: 10px 0;
        margin: 35px 0;
        opacity: 0;
        animation: fadeIn 1.5s ease-in-out forwards;
        margin-top: 14%;
    }

    .container-card {
        margin-top: 15px;
        background: rgba(255, 255, 255, 0.692);
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-items: center;
        gap: 17px;

        .history-text-sub {
            background: radial-gradient(at right top, #455897, #1d2749);
            border-radius: 9px;
            box-shadow: 0 0 5px #000;
            padding: 10px;
        }

        .history-text-section {
            padding: 5px;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            text-align: start;
            border-radius: 5px;
            line-height: 25px;
        }

        .card {
            padding: 15px 0;
            margin: 20px 0;
            border-radius: 16px;
            width: 300px;
            height: auto;
            background: radial-gradient(at right top, #455897, #1d2749);
            color: white;
            box-shadow: 0 0 5px #000000b3;
            opacity: 0;
            transform: translateY(100px);
            animation: slideUp 0.7s ease-in-out forwards;

            h1 {
                color: white;
                text-align: center;
            }

            h2 {
                background: rgb(229, 229, 239);
                color: #222e55;
                text-align: center;
                font-size: 22px;
                margin: 10px 0;
            }

            .ajustar1 {
                min-height: 163px;
            }

            .ajustar2 {
                min-height: 155px;
            }

            .ajustar3 {
                min-height: 175px;
            }

            li {
                padding: 4px;
                margin-left: 30px;
                list-style: none;
            }
        }

        .card:nth-child(1) {
            animation-delay: 0s;
        }

        .card:nth-child(2) {
            animation-delay: 0.2s;
        }

        .card:nth-child(3) {
            animation-delay: 0.4s;
        }

        .card:nth-child(4) {
            animation-delay: 0.6s;
        }

        .card:nth-child(5) {
            animation-delay: 0.8s;
        }

        .card:nth-child(6) {
            animation-delay: 1s;
        }
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container-pepe {
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.692);
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    gap: 17px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    margin: 20px 0;
}

p {
    color: #fff;
    font-size: 3vh;
    line-height: 35px;
    margin-top: 30px;
    margin-bottom: 5px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.404);
    text-align: center;

}

.text-sub {
    background: radial-gradient(at right top, #455897, #1d2749);
    border-radius: 9px;
    box-shadow: 0 0 10px #000;
    padding: 10px;
    width: 90%;
    margin-top: 40px;
}

.text-section {
    padding: 5px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: start;
    border-radius: 5px;
    line-height: 25px;
}

.titi {
    font-family: "Lexend Peta", sans-serif;
    font-size: 5vh;
    color: #304177;
    margin: 0 10px;
}

.tito {
    font-size: 25px;
    text-decoration: none;
}

.tito-2 {
    font-size: 27px;
}

.tito-3 {
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
    padding-bottom: 5px;
}

.tito-3::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}

.tito-3:hover::after {
    transform: scaleX(1);
}

.tito-4 {
    font-size: 24px;
    margin: 0 0 0 30px;
}

#toTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 5px;
    border: solid #ffffff 2px;
    outline: none;
    background: radial-gradient(at right top, #455897, #1d2749);
    cursor: pointer;
    padding: 10px;
    border-radius: 60%;
    box-shadow: 0 0 9px #000000;
}

.tito-lista {
    display: grid;
    justify-items: center;
    gap: 20px;
}

/* Footer */

.ft {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    background: radial-gradient(at right top, #455897, #1d2749);
    margin-top: 20px;

    .cluster {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    p {
        color: #ffffff;
        font-size: 18px;
        text-align: center;
        margin: 1px;
    }

    .negri {
        font-weight: bold;
    }
}

/* Responsive */

@media screen and (max-width: 768px) {
    .nav-2 {
        display: none;
    }

    main {
        margin: 12.5rem 0 0 0;
    }

    .nav-2 li {
        opacity: 0;
    }

    .nav-2.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        gap: 1.5rem;
        top: 120%;
        left: 0;
        opacity: 1;
    }

    header {
        .add {
            width: 38vw;
            height: 7vh;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            padding: 9px 32px;
            cursor: pointer;
            box-shadow: 0 0 8px #ffffffb3;
            position: relative;
            z-index: 1;
            overflow: hidden;
            gap: 10px;
        }
    }

    header{
    a {
        font-size: 23px;
    }
}

    .burger {
        display: block;
    }

    .cluster {
        flex-direction: column;
    }

    .container-card {
        margin-top: 50%;
    }

    .titi{
        font-size: 28px;
    }

    p{
        font-size: 20px;
    }

    .tito-2{
        font-size: 24px;
    }

    .tito-3{
        font-size: 22px;
    }

    .tito-4{
        font-size: 22px;
        margin-right: auto;
    }
}

